
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f4f6f9;
    color: #333;
}

.sidebar {
    width: 260px;
    background: #db492c;
    color: #fff;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    letter-spacing: 1px;
}

.sidebar a {
    color: #ddd;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 8px;
    display: block;
    margin: 5px 0;
    font-size: 15px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    background: #041343;
    color: #fff;
}

.main {
    margin-left: 260px;
    padding: 25px;
    width: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.search-bar input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
}

.admin-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-profile img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.card h3 {
    font-size: 28px;
    margin-bottom: 8px;
    color: #db492c;
}

.card p {
    font-size: 14px;
    color: #666;
}

.table-container {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.table-container h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    background: #f1f3f7;
    color: #555;
    font-weight: 600;
}
tr{
    transition: 0.3s;
}

tr:hover {
    background: #db492c;
    color: #fff;
}